#sidebar{
    background: #020509;
    grid-area: sidebar;
    overflow-y: auto;
    padding: 20px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.sidebar__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f3f4f6;
    margin-bottom: 30px;
}
.sidebar__img{
    display: flex;
    align-items: center;
}

.sidebar__title > div > h1 {
    display: none;
    font-size: 18px;
}
.sidebar__menu > h2{
    color: #3ea175;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 0 10px;
    font-weight: 700;
}
.sidebar__link{
    color: #f3f4f6;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 5px;
}
.active_menu_link{
    background: rgba(62, 161, 171, .3);
    color: #3ea175;
}
.active_menu_link a{
    color: #3ea175 !important;
}
.sidebar__link > a{
    font-weight: 700;
    text-decoration: none;
    color: #a5aaad;
}
.sidebar__link > i {
    font-size: 18px;
    margin-right: 10px;
}
.sidebar__logout{
    margin-top: 20px;
    padding: 10px;
    color: red;
}
.sidebar__logout a {
    text-decoration: none;
    text-transform: uppercase;
    color: red;
    font-weight: 700;
}
.sidebar__logout > i {
    margin-right: 10px;
    font-size: 18px;
}

.sidebar_responsive{
    left: 0 im !important;
    position: absolute;
    display: inline im !important;
    z-index: 999999 i !important;
}

@media only screen and (max-width:978px){
    #sidebar{
        display: none;
    }
    .sidebar__title{
        display: inline;
    }
}